.btn_edit{
    
    border-radius: 5px;
    background: linear-gradient(-135deg, #50b2c8, #4158d0);
    width: max-content;
}

.btn_elim{
    background: linear-gradient(-135deg, #50b2c8, #4158d0);
    border-radius: 5px;
}


.buscar2{
    border-radius: 5px;
    border-color: #4158d0;
    margin-right: 10px;
  

}


.username{
    margin-left: 20px;
    color: white;
    font-size: 25px;
    margin-top: 20px;

}
.titulo{
    text-align: center;
   
}

.card-header{
    background: linear-gradient(-135deg, #50c894, #41d0d0);

}
.file-select {
    position: relative;
    display: inline-block;
  }
  
  .file-select::before {
    background-color: #5678EF;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    content: 'Seleccionar'; /* testo por defecto */
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  
  .file-select input[type="file"] {
    opacity: 0;
    width: 200px;
    height: 32px;
    display: inline-block;
  }
  
  #src-file1::before {
    content: 'Seleccionar foto';
  }