.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.user{
    text-align: center;
    margin-left: -50px;
    
}
.fondoHeader {
    background: linear-gradient(-135deg, #50b2c8, #4158d0, #50b2c8, #50b2c8 );
    padding: 10px;
    margin-left: 0px;
}



footer {
  position: absolute !important;
    bottom: 50 !important;
    color: white !important;
    width: 100% !important;
    background: white !important;
    margin-bottom: -1px !important;
  
}


.top-bar-margen {
    margin-top: -15px;
    margin-left: 0px;
}

body {
    background: #d5fff2;
}


.menuOpciones {
    background: #92fbfb;

}


.menu_opcion {
    color: black !important;
    
}


.bodypagina{
    height: max-content;
}

